body {
    background-color: #e9ecef;
    background-color: #adb5bd;
    background-color:#dee2e6;
    background-color: #061a40;
    background-color: #b07d62;
    background-color: #7f5539;
    background-color: #6d4c3d;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.main{
    background-color: #ffc300;
    margin: 50px 100px;
    
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 10px;
    
}


.header{
    
    
    text-align: center;
    padding:10px 0px;
    font-family: 'Acme', sans-serif;
    font-size: 50px;
}


.title{
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    font-size: 28px;
    margin-top: 14px;
    margin-bottom: 30px;
    
}

.form{
    font-family: 'Ubuntu', sans-serif;
    padding: 1px;
    
    margin-bottom: 10px;
}

.form-child{
    padding: 5px 0px;
    margin-bottom: 20px;
    font-size: 20px;
}

#height{
    margin-left: 10px;
    width: 80%;
    border: none;
    border-radius: 3px;
    padding: 5px 0px;
    margin-bottom: 20px;
    font-size: 20px;
    padding-left:10px;
    border:solid 2px black;
    background-color: #cacaca;
}
/*
input[type=text]{
    width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid red;
  border-radius: 4px;
}*/
#weight{
    margin-left: 10px;
    width: 80%;
    border: none;
    border-radius: 3px;
    padding: 5px 0px;
    margin-bottom: 20px;
    font-size: 20px;
    padding-left:10px;
    border:solid 2px black;
    background-color: #cacaca;
}

.result{
    
    padding: 20px 0px;
    font-family: 'Ubuntu', sans-serif;
    font-size: 24px;
}

.btn{
    
    text-align: center;
    padding-bottom: 20px;
    
}
#btn1{
    border: none;
    border-radius: 2px;
    width: 100%;
    cursor: pointer;
    background-color: #cacaca;
    padding: 10px 0px;
}
/*  
#btn1:hover{
    font-size: 24px;
    
}*/
.b{
    font-family: 'Nunito', sans-serif;
    font-size: 20px;
    text-align: center;
    background-color: #cacaca;
}

